.categoryBar {
  margin: 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  overflow-x: auto;
}
.categoryBar button {
  border: none;
  background-color: navajowhite;
  border-radius: 5px;
}
.mobileFilter {
  display: none;
}

@media (max-width: 480px) {
  .mobileFilter {
    display: unset;
  }
  .mediaSearchField {
    width: "75%";
  }
}
